<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
  <!-- <button id="home">home</button>
    <button id="tags">tags</button>
    <h3>home</h3> -->
  <div class="container">
    <header class="header">
      <div class="header-inner">
        <div class="site-meta"></div>
        <div class="site-nav">
          <ul id="menu" class="menu">
            <li class="menu-item menu-item-home" style="opacity: 1; transform: translateY(0px);">
              <a href="/" rel="section">
                首页
              </a>
            </li>
            <li class="menu-item menu-item-categories" style="opacity: 1; transform: translateY(0px);">
              <a href="/categories" rel="section">
                分类
              </a>
            </li>
            <li class="menu-item menu-item-archives" style="opacity: 1; transform: translateY(0px);">
              <a href="/archives" rel="section">
                归档
              </a>
            </li>
            <li class="menu-item menu-item-tags menu-item-active" style="opacity: 1; transform: translateY(0px);">
              <a href="/tags" rel="section">
                标签
              </a>
            </li>
            <li class="menu-item menu-item-search" style="opacity: 1; transform: translateY(0px);">
              <a href="javascript:;" class="st-search-show-outputs">
                搜索
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <main>
      <div class="main-inner">
        <div class="tag-cloud">
          <div class="tag-cloud-title">
            目前共计 23 个标签
          </div>
          <div class="tag-cloud-tags">
            <a href="/tags/HTTP/" style="font-size: 14.25px; color: #b5b5b5">HTTP</a>
            <a href="/tags/Hadoop/" style="font-size: 25.5px; color: #404040">Hadoop</a>
            <a href="/tags/Hbase/" style="font-size: 12px; color: #ccc">Hbase</a>
            <a href="/tags/Hive/" style="font-size: 21px; color: #6f6f6f">Hive</a>
            <a href="/tags/JavaScript/" style="font-size: 16.5px; color: #9d9d9d">JavaScript</a>
            <a href="/tags/Kafka/" style="font-size: 12px; color: #ccc">Kafka</a>
            <a href="/tags/Koa2/" style="font-size: 21px; color: #6f6f6f">Koa2</a>
            <a href="/tags/LaTex/" style="font-size: 12px; color: #ccc">LaTex</a>
            <a href="/tags/Latex/" style="font-size: 12px; color: #ccc">Latex</a>
            <a href="/tags/Linux/" style="font-size: 27.75px; color: #282828">Linux</a>
            <a href="/tags/Mac/" style="font-size: 23.25px; color: #575757">Mac</a>
            <a href="/tags/Mahout/" style="font-size: 14.25px; color: #b5b5b5">Mahout</a>
            <a href="/tags/MySQL/" style="font-size: 12px; color: #ccc">MySQL</a>
            <a href="/tags/Nginx/" style="font-size: 12px; color: #ccc">Nginx</a>
            <a href="/tags/Node-js/" style="font-size: 30px; color: #111">Node.js</a>
            <a href="/tags/R/" style="font-size: 18.75px; color: #868686">R</a>
            <a href="/tags/React/" style="font-size: 23.25px; color: #575757">React</a>
            <a href="/tags/RegExp/" style="font-size: 12px; color: #ccc">RegExp</a>
            <a href="/tags/Spark/" style="font-size: 23.25px; color: #575757">Spark</a>
            <a href="/tags/Sqoop/" style="font-size: 14.25px; color: #b5b5b5">Sqoop</a>
            <a href="/tags/Summary/" style="font-size: 12px; color: #ccc">Summary</a>
            <a href="/tags/Test/" style="font-size: 12px; color: #ccc">Test</a>
            <a href="/tags/Vue/" style="font-size: 14.25px; color: #b5b5b5">Vue</a>
          </div>
        </div>
      </div>
    </main>
  </div>
  <!-- <script src="/javascripts/home.js"></script> -->
</body>

</html>