body {
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    line-height: 2;
}

a {
    color: #555;
    text-decoration: none;
    border-bottom: 1px solid #999;
    word-wrap: break-word;
}

.header {
    background: #f5f5f5;
}

.header-inner::after {
    clear: both;
}

.header-inner::before,
.header-inner::after {
    content: " ";
    display: table;
}

.header-inner {
    padding: 25px 0 20px;
    margin: 0 auto;
    width: 700px;
}

.header-inner {
    position: relative;
}

.site-meta {
    float: left;
    margin-left: -20px;
    line-height: normal;
}

.site-meta {
    margin: 0;
    margin-left: 0px;
    text-align: left;
}

.menu {
    text-align: center;
}

.menu .menu-item {
    display: inline-block;
    margin: 0 10px;
}

ul {
    list-style: none;
}

.main-inner {
    margin: 80px auto 0;
    width: 700px;
}

/* /tags */

.tag-cloud {
    text-align: center;
}

.tag-cloud a {
    display: inline-block;
    margin: 10px;
}